// Define variables for your color scheme

// For example:
$red: #fd1015;
$blue: #167ffb;
$yellow: #ffc65a;
$orange: #e67e22;
$green: #1edd88;
$gray: #0e0000;
$light-gray: #f4f4f4;
$light-blue: #5bc9ac;
$light-blue-pale: #7eb5a6;
$brown: #d8b384;
$dark-brown: #4e3620;
$first: #dbd0c0;
$second: #faeee0;
$third: #f9e4c8;
$last: #f9cf93;
$pink: #ffdac7;
$nani: #e28f83;
$nani-hover: #ec5858;
