// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;
$light-blue:  #5bc9ac;
$light-blue-pale:#7EB5A6;
$brown: #D8B384;
$dark-brown: #4E3620;
