<div class="container">

  <div class="row">
    <div class="col">
      <h2>
        <%= @flat.title%>
      </h2>
    </div>
  </div>
  <!-- img -->
  <div class="card-columns">
    <div class="card">
      <img
        src="https://images.unsplash.com/photo-1596957901846-a0722f546502?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTZ8fHBldHMlMjBpbiUyMGhvbWV8ZW58MHx8MHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=600&q=60"
        class="img-fluid" alt="Responsive image">
    </div>
    <div class="card">
      <img
        src="https://images.unsplash.com/photo-1596957901846-a0722f546502?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTZ8fHBldHMlMjBpbiUyMGhvbWV8ZW58MHx8MHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=600&q=60"
        class="img-fluid" alt="Responsive image">
    </div>
    <div class="card">
      <img
        src="https://images.unsplash.com/photo-1596957901846-a0722f546502?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTZ8fHBldHMlMjBpbiUyMGhvbWV8ZW58MHx8MHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=600&q=60"
        class="img-fluid" alt="Responsive image">
    </div>
    <div class="card">
      <img
        src="https://images.unsplash.com/photo-1596957901846-a0722f546502?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTZ8fHBldHMlMjBpbiUyMGhvbWV8ZW58MHx8MHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=600&q=60"
        class="img-fluid" alt="Responsive image">
    </div>
    <div class="card">
      <img
        src="https://images.unsplash.com/photo-1596957901846-a0722f546502?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTZ8fHBldHMlMjBpbiUyMGhvbWV8ZW58MHx8MHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=600&q=60"
        class="img-fluid" alt="Responsive image">
    </div>
  </div>
<!-- description / reserva -->
<div class="container">
  <!-- info-anfitrion -->
  <div class="row">
    <div class="col-6">
      <div class="row mt-4">
        <div class="col-8 p-0">
          <h3>Anfitrion</h3>
        </div>
        <div class="col">
          <img class="avatar" alt="avatar" src="https://kitt.lewagon.com/placeholder/users/cveneziani" />
        </div>
      </div>
      <div class="row">
        <div class="description-house pt-2">
          <%= @flat.description%>
        </div>
      </div>
      <div class="row mt-4">
        <h3>Los servicios</h3>
        <div class="servicios">
          <!-- servicios -->
        </div>
      </div>
    </div>
    <div class="col-6">
      <div class="card">
       <!-- card-reservas -->
      </div>
    </div>
  </div>
</div>
</div>