
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://source.unsplash.com/1600x900/?dogs);">
  <div class="container">
    <h1>PetBnB takes the <strong>best care</strong> for your pet!
    <p>Find places for your pet all over the world.</p>
    <%= link_to "Book now", "#", class: "btn btn-flat" %>

  </div>
</div>
<a class="btn btn-flat" href="#">Search now</a>
