.booking-card {
  height: 400px;
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
  align-items: center;
  color: white;
  background-color: $brown;
  font-size: 15px;
  font-weight: lighter;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);

  p {
    margin-top: 5px;
    font-size: 20px;
    font-weight: bolder;
  }
}

// 


.btn-group > .btn {
  @include media-breakpoint-only(md) {
    font-size: 0.8em;
    padding: 8px;
  }
}

