.navbar-lewagon {
  justify-content: space-between;
  background: white;
  background-color: $first;
  transition: 0.5s background-color ease;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 50px;
}

.navbar-lewagon + .container {
  padding-top: 102px;
}

.navbar-lewagon-white {
  background-color: transparent;
}
